<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace属性：用于指定当前映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包的完整路径接口-->
<mapper namespace="com.tjnu.project_park.mapper.UserMapper">
    <!--    自定义映射规则：resultMap标签来完成映射规则的定义-->
    <!--    id属性：给这个映射负责分配一个唯一的id值，对应的就是resultMap='id属性的值‘属性的取值
            type属性：取值是一个类，表示的是数据库中的查询结果与java中哪个实体类进行结果集映射
    -->
    <resultMap id="UserEntityMap" type="com.tjnu.project_park.entity.User">
        <id column="uid" property="uid"></id>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO
            tbl_users (username, password, phone, email, created_time, modified_time,salt)
        VALUES
        (#{username}, #{password}, #{phone}, #{email}, #{createdTime}, #{modifiedTime},#{salt})
    </insert>
    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT * FROM tbl_users WHERE username=#{username}
    </select>

</mapper>